@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
    background-position: center;
    background-size: cover;
    position: absolute;
}  

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgba(13, 224, 213, 0.863);
    overflow: hidden;
    border-radius: 5%;
}


.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;

}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}

.input-id {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;

}

#login {
    left: 50px;
}
#register {
    left: 450px;
}
.social-icons {
    margin: 30px auto;
    text-align: center;

}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.submit-btn:hover{
    background: linear-gradient(to right, #1020ff, #a406ff);
}
